<div class="dt-wrap">
  <table class="table">
    <thead>
      <tr>
        @for (col of columns(); track col.key) {
          <th [style.width]="col.width ?? null" [class.num]="col.numeric">
            {{ col.header }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of data(); track trackByFn($index, item)) {
        <tr class="dt-row" (click)="onRowClick(item)">
          @for (col of columns(); track col.key) {
            <td [class.num]="col.numeric">
              @if (col.cellTpl) {
                <ng-container
                  [ngTemplateOutlet]="col.cellTpl"
                  [ngTemplateOutletContext]="{ $implicit: item, row: item }"
                />
              } @else {
                {{ cellValue(item, col.key) }}
              }
            </td>
          }
        </tr>
      }
      @if (data().length === 0) {
        <tr>
          <td [attr.colspan]="columns().length" class="dt-empty">
            <div class="serif">{{ emptyMessage() }}</div>
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (totalPages() > 0) {
    <app-pagination
      [page]="page()"
      [totalPages]="totalPages()"
      [totalItems]="totalItems()"
      [itemLabel]="itemLabel()"
      [pageSizes]="pageSizes()"
      [pageSize]="pageSizeValue()"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    />
  }
</div>
