@import 'tailwindcss';

@theme {
  --font-label-sm: 'Geist', system-ui, sans-serif;
  --font-headline-md: 'Geist', system-ui, sans-serif;
  --font-display-lg: 'Instrument Serif', 'Geist', serif;
  --font-headline-lg: 'Instrument Serif', 'Geist', serif;
  --font-body-md: 'Geist', system-ui, sans-serif;
  --font-label-md: 'Geist', system-ui, sans-serif;
  --font-body-lg: 'Geist', system-ui, sans-serif;
}
